In [ ]:
import pyspark

# 1.Starting SparkSession

In [ ]:
# start spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_tutorial_part2").getOrCreate()

 # 2. Reading Big Data from Files

In [ ]:
# read the csv dataset
df = spark.read.csv("/content/loan_approval_dataset.csv", header=True, inferSchema=True)

In [ ]:
df.show()

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|
|      6|                0|     Graduate|           Yes|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|
|      7|                5|     Graduate|            No|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|
|      8|                2|     Graduate|           Yes|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|
|      9|                0|     Graduate|           Yes|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|
|     10|                5| Not Graduate|            No|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|
|     11|                4|     Graduate|           Yes|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|
|     12|                2| Not Graduate|           Yes|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|
|     13|                3| Not Graduate|           Yes|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|
|     14|                2|     Graduate|           Yes|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|
|     15|                1| Not Graduate|            No|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|
|     16|                5| Not Graduate|            No|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|
|     17|                2|     Graduate|           Yes|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|
|     18|                4| Not Graduate|           Yes|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|
|     19|                2|     Graduate|            No|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|
|     20|                5|     Graduate|            No|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
only showing top 20 rows

# 3. Inspecting and Understanding Data

In [ ]:
df.show(5)         # Shows top 5 rows
df.printSchema()   # Prints the data schema
df.columns         # Returns list of column names

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
only showing top 5 rows

root
 |-- loan_id: integer (nullable = true)
 |--  no_of_dependents: integer (nullable = true)
 |--  education: string (nullable = true)
 |--  self_employed: string (nullable = true)
 |--  income_annum: integer (nullable = true)
 |--  loan_amount: integer (nullable = true)
 |--  loan_term: integer (nullable = true)
 |--  cibil_score: integer (nullable = true)
 |--  residential_assets_value: integer (nullable = true)
 |--  commercial_assets_value: integer (nullable = true)
 |--  luxury_assets_value: integer (nullable = true)
 |--  bank_asset_value: integer (nullable = true)
 |--  loan_status: string (nullable = true)

['loan_id',
 ' no_of_dependents',
 ' education',
 ' self_employed',
 ' income_annum',
 ' loan_amount',
 ' loan_term',
 ' cibil_score',
 ' residential_assets_value',
 ' commercial_assets_value',
 ' luxury_assets_value',
 ' bank_asset_value',
 ' loan_status']

In [ ]:
# # describe(): basic stats like count, mean, stddev, min, max
df.describe().show()

+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+
|summary|           loan_id|  no_of_dependents|    education| self_employed|      income_annum|         loan_amount|         loan_term|       cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+
|  count|              4269|              4269|         4269|          4269|              4269|                4269|              4269|              4269|                     4269|                    4269|                4269|             4269|        4269|
|   mean|            2135.0|2.4987116420707425|         NULL|          NULL|5059123.9166081045|1.5133450456781447E7|10.900445069102835| 599.9360505973295|        7472616.537830873|         4973155.3056922|1.5126305926446475E7|4976692.433825252|        NULL|
| stddev|1232.4984787008866| 1.695910160711122|         NULL|          NULL|2806839.8318184675|   9043362.984842855|  5.70918727924526|172.43040073575858|        6503636.587664098|       4388966.089638462|    9103753.66525649|3250185.305695706|        NULL|
|    min|                 1|                 0|     Graduate|            No|            200000|              300000|                 2|               300|                  -100000|                       0|              300000|                0|    Approved|
|    max|              4269|                 5| Not Graduate|           Yes|           9900000|            39500000|                20|               900|                 29100000|                19400000|            39200000|         14700000|    Rejected|
+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+

In [ ]:
# describe(): basic stats | summary(): extended stats with percentiles
df.summary().show()

+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+
|summary|           loan_id|  no_of_dependents|    education| self_employed|      income_annum|         loan_amount|         loan_term|       cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+
|  count|              4269|              4269|         4269|          4269|              4269|                4269|              4269|              4269|                     4269|                    4269|                4269|             4269|        4269|
|   mean|            2135.0|2.4987116420707425|         NULL|          NULL|5059123.9166081045|1.5133450456781447E7|10.900445069102835| 599.9360505973295|        7472616.537830873|         4973155.3056922|1.5126305926446475E7|4976692.433825252|        NULL|
| stddev|1232.4984787008866| 1.695910160711122|         NULL|          NULL|2806839.8318184675|   9043362.984842855|  5.70918727924526|172.43040073575858|        6503636.587664098|       4388966.089638462|    9103753.66525649|3250185.305695706|        NULL|
|    min|                 1|                 0|     Graduate|            No|            200000|              300000|                 2|               300|                  -100000|                       0|              300000|                0|    Approved|
|    25%|              1068|                 1|         NULL|          NULL|           2700000|             7700000|                 6|               453|                  2200000|                 1300000|             7500000|          2300000|        NULL|
|    50%|              2135|                 3|         NULL|          NULL|           5100000|            14500000|                10|               600|                  5600000|                 3700000|            14600000|          4600000|        NULL|
|    75%|              3202|                 4|         NULL|          NULL|           7500000|            21500000|                16|               748|                 11300000|                 7600000|            21700000|          7100000|        NULL|
|    max|              4269|                 5| Not Graduate|           Yes|           9900000|            39500000|                20|               900|                 29100000|                19400000|            39200000|         14700000|    Rejected|
+-------+------------------+------------------+-------------+--------------+------------------+--------------------+------------------+------------------+-------------------------+------------------------+--------------------+-----------------+------------+

# 4.Data Filtering & Selection

In [ ]:
# Remove leading/trailing spaces from all column names
df = df.toDF(*[c.strip() for c in df.columns])

In [ ]:
# Show only selected columns
df.select("loan_amount","loan_term").show()

# Filter rows where age > 30 using column expression
df.filter(df["loan_amount"] > 100000).show()

# Filter rows using SQL-style string expression
df.where("loan_term > 6 AND loan_amount > 100000").show()

+-----------+---------+
|loan_amount|loan_term|
+-----------+---------+
|   29900000|       12|
|   12200000|        8|
|   29700000|       20|
|   30700000|        8|
|   24200000|       20|
|   13500000|       10|
|   33000000|        4|
|   15000000|       20|
|    2200000|       20|
|    4300000|       10|
|   11200000|        2|
|   22700000|       18|
|   11600000|       16|
|   31500000|       14|
|    7400000|        6|
|   10700000|       10|
|    1600000|        4|
|    9400000|       14|
|   10300000|       10|
|   14600000|       12|
+-----------+---------+
only showing top 20 rows

+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|loan_id|no_of_dependents|    education|self_employed|income_annum|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|      1|               2|     Graduate|           No|     9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|
|      2|               0| Not Graduate|          Yes|     4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|
|      3|               3|     Graduate|           No|     9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|
|      4|               3|     Graduate|           No|     8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|
|      5|               5| Not Graduate|          Yes|     9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|
|      6|               0|     Graduate|          Yes|     4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|
|      7|               5|     Graduate|           No|     8700000|   33000000|        4|        678|                22500000|               14800000|           29200000|         4300000|   Approved|
|      8|               2|     Graduate|          Yes|     5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|
|      9|               0|     Graduate|          Yes|      800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved|
|     10|               5| Not Graduate|           No|     1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|
|     11|               4|     Graduate|          Yes|     2900000|   11200000|        2|        547|                 8100000|                4700000|            9500000|         3100000|   Approved|
|     12|               2| Not Graduate|          Yes|     6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|
|     13|               3| Not Graduate|          Yes|     5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|
|     14|               2|     Graduate|          Yes|     9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|
|     15|               1| Not Graduate|           No|     1900000|    7400000|        6|        469|                 1900000|                1200000|            5900000|         1900000|   Rejected|
|     16|               5| Not Graduate|           No|     4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|
|     17|               2|     Graduate|          Yes|      500000|    1600000|        4|        663|                 1300000|                 100000|            1300000|          700000|   Approved|
|     18|               4| Not Graduate|          Yes|     2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|
|     19|               2|     Graduate|           No|     2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|
|     20|               5|     Graduate|           No|     6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
only showing top 20 rows

+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|loan_id|no_of_dependents|    education|self_employed|income_annum|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|      1|               2|     Graduate|           No|     9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|
|      2|               0| Not Graduate|          Yes|     4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|
|      3|               3|     Graduate|           No|     9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|
|      4|               3|     Graduate|           No|     8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|
|      5|               5| Not Graduate|          Yes|     9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|
|      6|               0|     Graduate|          Yes|     4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|
|      8|               2|     Graduate|          Yes|     5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|
|      9|               0|     Graduate|          Yes|      800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved|
|     10|               5| Not Graduate|           No|     1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|
|     12|               2| Not Graduate|          Yes|     6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|
|     13|               3| Not Graduate|          Yes|     5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|
|     14|               2|     Graduate|          Yes|     9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|
|     16|               5| Not Graduate|           No|     4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|
|     18|               4| Not Graduate|          Yes|     2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|
|     19|               2|     Graduate|           No|     2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|
|     20|               5|     Graduate|           No|     6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|
|     21|               2|     Graduate|           No|     5000000|   19400000|       12|        315|                 9500000|                1600000|           18000000|         6100000|   Rejected|
|     22|               4|     Graduate|           No|     5800000|   14000000|       16|        530|                 3800000|               11300000|           22200000|         5400000|   Rejected|
|     23|               4|     Graduate|          Yes|     6500000|   25700000|       18|        311|                13100000|                1700000|           19500000|         8500000|   Rejected|
|     25|               0| Not Graduate|           No|     4900000|    9800000|       16|        324|                 3800000|                8700000|           10000000|         3300000|   Rejected|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
only showing top 20 rows

# 5.Group By and Aggregate

In [ ]:
df.groupBy("self_employed").agg({"income_annum": "avg"}).show()

+-------------+-----------------+
|self_employed|avg(income_annum)|
+-------------+-----------------+
|          Yes|5065720.930232558|
|           No|5052430.391694196|
+-------------+-----------------+

# Better and more readable with functions:

In [ ]:
from pyspark.sql.functions import avg
df.groupBy("self_employed").agg(avg("income_annum").alias("avg_salary")).show()

+-------------+-----------------+
|self_employed|       avg_salary|
+-------------+-----------------+
|          Yes|5065720.930232558|
|           No|5052430.391694196|
+-------------+-----------------+

# 6.Modifying Columns

# Add a new column

In [ ]:
from pyspark.sql.functions import col

df = df.withColumn("income_annum", col("income"))

In [ ]:
df.show()

+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
|loan_id|no_of_dependents|    education|self_employed|income_annum|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status| income|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
|      1|               2|     Graduate|           No|     9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|9600000|
|      2|               0| Not Graduate|          Yes|     4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|4100000|
|      3|               3|     Graduate|           No|     9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|9100000|
|      4|               3|     Graduate|           No|     8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|8200000|
|      5|               5| Not Graduate|          Yes|     9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|9800000|
|      6|               0|     Graduate|          Yes|     4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|4800000|
|      7|               5|     Graduate|           No|     8700000|   33000000|        4|        678|                22500000|               14800000|           29200000|         4300000|   Approved|8700000|
|      8|               2|     Graduate|          Yes|     5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|5700000|
|      9|               0|     Graduate|          Yes|      800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved| 800000|
|     10|               5| Not Graduate|           No|     1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|1100000|
|     11|               4|     Graduate|          Yes|     2900000|   11200000|        2|        547|                 8100000|                4700000|            9500000|         3100000|   Approved|2900000|
|     12|               2| Not Graduate|          Yes|     6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|6700000|
|     13|               3| Not Graduate|          Yes|     5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|5000000|
|     14|               2|     Graduate|          Yes|     9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|9100000|
|     15|               1| Not Graduate|           No|     1900000|    7400000|        6|        469|                 1900000|                1200000|            5900000|         1900000|   Rejected|1900000|
|     16|               5| Not Graduate|           No|     4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|4700000|
|     17|               2|     Graduate|          Yes|      500000|    1600000|        4|        663|                 1300000|                 100000|            1300000|          700000|   Approved| 500000|
|     18|               4| Not Graduate|          Yes|     2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|2900000|
|     19|               2|     Graduate|           No|     2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|2700000|
|     20|               5|     Graduate|           No|     6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|6300000|
+-------+----------------+-------------+-------------+------------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
only showing top 20 rows

# Rename a column

In [ ]:
df = df.withColumnRenamed("income_annum", "salary")

In [ ]:
df.show()

+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
|loan_id|no_of_dependents|    education|self_employed| salary|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status| income|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
|      1|               2|     Graduate|           No|9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|9600000|
|      2|               0| Not Graduate|          Yes|4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|4100000|
|      3|               3|     Graduate|           No|9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|9100000|
|      4|               3|     Graduate|           No|8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|8200000|
|      5|               5| Not Graduate|          Yes|9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|9800000|
|      6|               0|     Graduate|          Yes|4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|4800000|
|      7|               5|     Graduate|           No|8700000|   33000000|        4|        678|                22500000|               14800000|           29200000|         4300000|   Approved|8700000|
|      8|               2|     Graduate|          Yes|5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|5700000|
|      9|               0|     Graduate|          Yes| 800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved| 800000|
|     10|               5| Not Graduate|           No|1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|1100000|
|     11|               4|     Graduate|          Yes|2900000|   11200000|        2|        547|                 8100000|                4700000|            9500000|         3100000|   Approved|2900000|
|     12|               2| Not Graduate|          Yes|6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|6700000|
|     13|               3| Not Graduate|          Yes|5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|5000000|
|     14|               2|     Graduate|          Yes|9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|9100000|
|     15|               1| Not Graduate|           No|1900000|    7400000|        6|        469|                 1900000|                1200000|            5900000|         1900000|   Rejected|1900000|
|     16|               5| Not Graduate|           No|4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|4700000|
|     17|               2|     Graduate|          Yes| 500000|    1600000|        4|        663|                 1300000|                 100000|            1300000|          700000|   Approved| 500000|
|     18|               4| Not Graduate|          Yes|2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|2900000|
|     19|               2|     Graduate|           No|2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|2700000|
|     20|               5|     Graduate|           No|6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|6300000|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+-------+
only showing top 20 rows

# Drop a column

In [ ]:
df = df.drop("income")

In [ ]:
df.show()

+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|loan_id|no_of_dependents|    education|self_employed| salary|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|      1|               2|     Graduate|           No|9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|
|      2|               0| Not Graduate|          Yes|4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|
|      3|               3|     Graduate|           No|9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|
|      4|               3|     Graduate|           No|8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|
|      5|               5| Not Graduate|          Yes|9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|
|      6|               0|     Graduate|          Yes|4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|
|      7|               5|     Graduate|           No|8700000|   33000000|        4|        678|                22500000|               14800000|           29200000|         4300000|   Approved|
|      8|               2|     Graduate|          Yes|5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|
|      9|               0|     Graduate|          Yes| 800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved|
|     10|               5| Not Graduate|           No|1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|
|     11|               4|     Graduate|          Yes|2900000|   11200000|        2|        547|                 8100000|                4700000|            9500000|         3100000|   Approved|
|     12|               2| Not Graduate|          Yes|6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|
|     13|               3| Not Graduate|          Yes|5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|
|     14|               2|     Graduate|          Yes|9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|
|     15|               1| Not Graduate|           No|1900000|    7400000|        6|        469|                 1900000|                1200000|            5900000|         1900000|   Rejected|
|     16|               5| Not Graduate|           No|4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|
|     17|               2|     Graduate|          Yes| 500000|    1600000|        4|        663|                 1300000|                 100000|            1300000|          700000|   Approved|
|     18|               4| Not Graduate|          Yes|2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|
|     19|               2|     Graduate|           No|2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|
|     20|               5|     Graduate|           No|6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
only showing top 20 rows

# Join Operations (like SQL joins)
# Combining data from two DataFrames

In [ ]:
# Here,I am uploading 2nd dataset
df2 = spark.read.csv("/content/student_depression_dataset.csv", header=True, inferSchema=True)

In [ ]:
df.join(df2, df.loan_id == df2.id, "inner").show()

#"inner", "left", "right", "outer" are supported.

+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|loan_id|no_of_dependents|    education|self_employed| salary|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status| id|Gender| Age|         City|Profession|Academic Pressure|Work Pressure|CGPA|Study Satisfaction|Job Satisfaction|     Sleep Duration|Dietary Habits|    Degree|Have you ever had suicidal thoughts ?|Work/Study Hours|Financial Stress|Family History of Mental Illness|Depression|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|      2|               0| Not Graduate|          Yes|4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|  2|  Male|33.0|Visakhapatnam|   Student|              5.0|          0.0|8.97|               2.0|             0.0|        '5-6 hours'|       Healthy|   B.Pharm|                                  Yes|             3.0|             1.0|                              No|         1|
|      8|               2|     Graduate|          Yes|5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|  8|Female|24.0|    Bangalore|   Student|              2.0|          0.0| 5.9|               5.0|             0.0|        '5-6 hours'|      Moderate|       BSc|                                   No|             3.0|             2.0|                             Yes|         0|
|     26|               5| Not Graduate|           No|3100000|    9500000|       20|        514|                 7900000|                3100000|            6600000|         2600000|   Rejected| 26|  Male|31.0|     Srinagar|   Student|              3.0|          0.0|7.03|               5.0|             0.0|'Less than 5 hours'|       Healthy|        BA|                                   No|             9.0|             1.0|                             Yes|         0|
|     30|               3| Not Graduate|          Yes|9000000|   31500000|       10|        850|                21800000|               12400000|           33700000|         8000000|   Approved| 30|Female|28.0|     Varanasi|   Student|              3.0|          0.0|5.59|               2.0|             0.0|        '7-8 hours'|      Moderate|       BCA|                                  Yes|             4.0|             5.0|                             Yes|         1|
|     32|               2|     Graduate|           No|5700000|   12000000|        6|        363|                 3600000|                7400000|           21700000|         4300000|   Rejected| 32|Female|25.0|       Jaipur|   Student|              4.0|          0.0|8.13|               3.0|             0.0|        '5-6 hours'|      Moderate|    M.Tech|                                  Yes|             1.0|             1.0|                              No|         0|
|     33|               1| Not Graduate|          Yes| 800000|    1600000|       10|        436|                  700000|                 200000|            2200000|         1000000|   Rejected| 33|  Male|29.0|         Pune|   Student|              2.0|          0.0| 5.7|               3.0|             0.0|'Less than 5 hours'|       Healthy|       PhD|                                   No|             4.0|             1.0|                              No|         0|
|     52|               2|     Graduate|           No|8700000|   24700000|       10|        435|                 6800000|                3500000|           21800000|        11300000|   Rejected| 52|  Male|30.0|        Thane|   Student|              3.0|          0.0|9.54|               4.0|             0.0|        '7-8 hours'|       Healthy|       BSc|                                   No|             1.0|             2.0|                              No|         0|
|     56|               5| Not Graduate|           No|6700000|   24500000|       12|        818|                 1200000|                5600000|           16300000|         6200000|   Approved| 56|Female|30.0|      Chennai|   Student|              2.0|          0.0|8.04|               4.0|             0.0|'Less than 5 hours'|     Unhealthy|'Class 12'|                                   No|             0.0|             1.0|                             Yes|         0|
|     59|               1|     Graduate|           No|7400000|   18400000|       20|        421|                18500000|                9100000|           17500000|         4100000|   Rejected| 59|  Male|28.0|       Nagpur|   Student|              3.0|          0.0|9.79|               1.0|             0.0|        '7-8 hours'|      Moderate|      B.Ed|                                  Yes|            12.0|             3.0|                              No|         1|
|     62|               3| Not Graduate|          Yes|9600000|   30500000|       18|        669|                 4700000|                1900000|           26500000|         9300000|   Approved| 62|  Male|31.0|       Nashik|   Student|              2.0|          0.0|8.38|               3.0|             0.0|'Less than 5 hours'|      Moderate|       LLB|                                  Yes|             2.0|             5.0|                              No|         1|
|     83|               2| Not Graduate|          Yes|9900000|   21200000|       16|        363|                25500000|               11400000|           26600000|         6800000|   Rejected| 83|  Male|24.0|       Nagpur|   Student|              3.0|          0.0| 6.1|               3.0|             0.0|        '5-6 hours'|      Moderate|'Class 12'|                                  Yes|            11.0|             1.0|                             Yes|         1|
|     91|               4|     Graduate|           No|5700000|   21100000|       18|        489|                  500000|                4300000|           12500000|         6000000|   Rejected| 91|  Male|33.0|     Vadodara|   Student|              3.0|          0.0|7.03|               4.0|             0.0|'Less than 5 hours'|       Healthy|        BE|                                  Yes|            10.0|             2.0|                             Yes|         0|
|     94|               1|     Graduate|           No|1700000|    6400000|       10|        452|                  900000|                1100000|            5600000|         2100000|   Rejected| 94|  Male|27.0|       Kalyan|   Student|              5.0|          0.0|7.04|               1.0|             0.0|'Less than 5 hours'|      Moderate|    M.Tech|                                   No|            10.0|             1.0|                             Yes|         1|
|    100|               0|     Graduate|           No|4400000|   10800000|       14|        463|                 2400000|                4800000|           13800000|         4700000|   Rejected|100|Female|19.0|       Rajkot|   Student|              2.0|          0.0|8.52|               4.0|             0.0|'Less than 5 hours'|     Unhealthy|'Class 12'|                                   No|             6.0|             2.0|                             Yes|         0|
|    103|               2| Not Graduate|          Yes|4300000|   12900000|       20|        618|                11400000|                3600000|           11400000|         2400000|   Approved|103|Female|19.0|       Kalyan|   Student|              5.0|          0.0|5.64|               5.0|             0.0|'Less than 5 hours'|      Moderate|'Class 12'|                                  Yes|             4.0|             5.0|                             Yes|         1|
|    106|               3| Not Graduate|          Yes|4200000|    9700000|       16|        841|                 7800000|                 300000|           16700000|         5100000|   Approved|106|  Male|29.0|     Srinagar|   Student|              3.0|          0.0|8.58|               3.0|             0.0|'More than 8 hours'|      Moderate|    M.Tech|                                  Yes|            10.0|             2.0|                             Yes|         1|
|    120|               1| Not Graduate|          Yes|9100000|   32900000|        2|        717|                 2200000|                2000000|           23600000|         5900000|   Approved|120|  Male|25.0|       Nashik|   Student|              5.0|          0.0|6.51|               2.0|             0.0|'Less than 5 hours'|     Unhealthy|      M.Ed|                                  Yes|             2.0|             5.0|                             Yes|         1|
|    132|               5|     Graduate|           No|8800000|   22600000|       10|        357|                 7900000|                8600000|           18200000|         4900000|   Rejected|132|Female|20.0|    Ahmedabad|   Student|              5.0|          0.0|7.25|               3.0|             0.0|        '5-6 hours'|       Healthy|'Class 12'|                                  Yes|            10.0|             3.0|                              No|         1|
|    139|               3| Not Graduate|          Yes|2900000|    8500000|       12|        564|                 1000000|                3100000|            7500000|         1800000|   Approved|139|  Male|19.0|      Chennai|   Student|              2.0|          0.0|7.83|               2.0|             0.0|        '7-8 hours'|     Unhealthy|'Class 12'|                                   No|             6.0|             3.0|                              No|         0|
|    145|               2|     Graduate|          Yes|8600000|   32100000|        6|        802|                 9400000|               16700000|           24500000|         9800000|   Approved|145|  Male|25.0|       Kalyan|   Student|              3.0|          0.0|9.93|               3.0|             0.0|        '5-6 hours'|      Moderate|      B.Ed|                                   No|             8.0|             3.0|                             Yes|         1|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
only showing top 20 rows

In [ ]:
df.join(df2, df.loan_id == df2.id, "right").show()

+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|loan_id|no_of_dependents|    education|self_employed| salary|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status| id|Gender| Age|         City|Profession|Academic Pressure|Work Pressure|CGPA|Study Satisfaction|Job Satisfaction|     Sleep Duration|Dietary Habits|    Degree|Have you ever had suicidal thoughts ?|Work/Study Hours|Financial Stress|Family History of Mental Illness|Depression|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
|      2|               0| Not Graduate|          Yes|4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|  2|  Male|33.0|Visakhapatnam|   Student|              5.0|          0.0|8.97|               2.0|             0.0|        '5-6 hours'|       Healthy|   B.Pharm|                                  Yes|             3.0|             1.0|                              No|         1|
|      8|               2|     Graduate|          Yes|5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|  8|Female|24.0|    Bangalore|   Student|              2.0|          0.0| 5.9|               5.0|             0.0|        '5-6 hours'|      Moderate|       BSc|                                   No|             3.0|             2.0|                             Yes|         0|
|     26|               5| Not Graduate|           No|3100000|    9500000|       20|        514|                 7900000|                3100000|            6600000|         2600000|   Rejected| 26|  Male|31.0|     Srinagar|   Student|              3.0|          0.0|7.03|               5.0|             0.0|'Less than 5 hours'|       Healthy|        BA|                                   No|             9.0|             1.0|                             Yes|         0|
|     30|               3| Not Graduate|          Yes|9000000|   31500000|       10|        850|                21800000|               12400000|           33700000|         8000000|   Approved| 30|Female|28.0|     Varanasi|   Student|              3.0|          0.0|5.59|               2.0|             0.0|        '7-8 hours'|      Moderate|       BCA|                                  Yes|             4.0|             5.0|                             Yes|         1|
|     32|               2|     Graduate|           No|5700000|   12000000|        6|        363|                 3600000|                7400000|           21700000|         4300000|   Rejected| 32|Female|25.0|       Jaipur|   Student|              4.0|          0.0|8.13|               3.0|             0.0|        '5-6 hours'|      Moderate|    M.Tech|                                  Yes|             1.0|             1.0|                              No|         0|
|     33|               1| Not Graduate|          Yes| 800000|    1600000|       10|        436|                  700000|                 200000|            2200000|         1000000|   Rejected| 33|  Male|29.0|         Pune|   Student|              2.0|          0.0| 5.7|               3.0|             0.0|'Less than 5 hours'|       Healthy|       PhD|                                   No|             4.0|             1.0|                              No|         0|
|     52|               2|     Graduate|           No|8700000|   24700000|       10|        435|                 6800000|                3500000|           21800000|        11300000|   Rejected| 52|  Male|30.0|        Thane|   Student|              3.0|          0.0|9.54|               4.0|             0.0|        '7-8 hours'|       Healthy|       BSc|                                   No|             1.0|             2.0|                              No|         0|
|     56|               5| Not Graduate|           No|6700000|   24500000|       12|        818|                 1200000|                5600000|           16300000|         6200000|   Approved| 56|Female|30.0|      Chennai|   Student|              2.0|          0.0|8.04|               4.0|             0.0|'Less than 5 hours'|     Unhealthy|'Class 12'|                                   No|             0.0|             1.0|                             Yes|         0|
|     59|               1|     Graduate|           No|7400000|   18400000|       20|        421|                18500000|                9100000|           17500000|         4100000|   Rejected| 59|  Male|28.0|       Nagpur|   Student|              3.0|          0.0|9.79|               1.0|             0.0|        '7-8 hours'|      Moderate|      B.Ed|                                  Yes|            12.0|             3.0|                              No|         1|
|     62|               3| Not Graduate|          Yes|9600000|   30500000|       18|        669|                 4700000|                1900000|           26500000|         9300000|   Approved| 62|  Male|31.0|       Nashik|   Student|              2.0|          0.0|8.38|               3.0|             0.0|'Less than 5 hours'|      Moderate|       LLB|                                  Yes|             2.0|             5.0|                              No|         1|
|     83|               2| Not Graduate|          Yes|9900000|   21200000|       16|        363|                25500000|               11400000|           26600000|         6800000|   Rejected| 83|  Male|24.0|       Nagpur|   Student|              3.0|          0.0| 6.1|               3.0|             0.0|        '5-6 hours'|      Moderate|'Class 12'|                                  Yes|            11.0|             1.0|                             Yes|         1|
|     91|               4|     Graduate|           No|5700000|   21100000|       18|        489|                  500000|                4300000|           12500000|         6000000|   Rejected| 91|  Male|33.0|     Vadodara|   Student|              3.0|          0.0|7.03|               4.0|             0.0|'Less than 5 hours'|       Healthy|        BE|                                  Yes|            10.0|             2.0|                             Yes|         0|
|     94|               1|     Graduate|           No|1700000|    6400000|       10|        452|                  900000|                1100000|            5600000|         2100000|   Rejected| 94|  Male|27.0|       Kalyan|   Student|              5.0|          0.0|7.04|               1.0|             0.0|'Less than 5 hours'|      Moderate|    M.Tech|                                   No|            10.0|             1.0|                             Yes|         1|
|    100|               0|     Graduate|           No|4400000|   10800000|       14|        463|                 2400000|                4800000|           13800000|         4700000|   Rejected|100|Female|19.0|       Rajkot|   Student|              2.0|          0.0|8.52|               4.0|             0.0|'Less than 5 hours'|     Unhealthy|'Class 12'|                                   No|             6.0|             2.0|                             Yes|         0|
|    103|               2| Not Graduate|          Yes|4300000|   12900000|       20|        618|                11400000|                3600000|           11400000|         2400000|   Approved|103|Female|19.0|       Kalyan|   Student|              5.0|          0.0|5.64|               5.0|             0.0|'Less than 5 hours'|      Moderate|'Class 12'|                                  Yes|             4.0|             5.0|                             Yes|         1|
|    106|               3| Not Graduate|          Yes|4200000|    9700000|       16|        841|                 7800000|                 300000|           16700000|         5100000|   Approved|106|  Male|29.0|     Srinagar|   Student|              3.0|          0.0|8.58|               3.0|             0.0|'More than 8 hours'|      Moderate|    M.Tech|                                  Yes|            10.0|             2.0|                             Yes|         1|
|    120|               1| Not Graduate|          Yes|9100000|   32900000|        2|        717|                 2200000|                2000000|           23600000|         5900000|   Approved|120|  Male|25.0|       Nashik|   Student|              5.0|          0.0|6.51|               2.0|             0.0|'Less than 5 hours'|     Unhealthy|      M.Ed|                                  Yes|             2.0|             5.0|                             Yes|         1|
|    132|               5|     Graduate|           No|8800000|   22600000|       10|        357|                 7900000|                8600000|           18200000|         4900000|   Rejected|132|Female|20.0|    Ahmedabad|   Student|              5.0|          0.0|7.25|               3.0|             0.0|        '5-6 hours'|       Healthy|'Class 12'|                                  Yes|            10.0|             3.0|                              No|         1|
|    139|               3| Not Graduate|          Yes|2900000|    8500000|       12|        564|                 1000000|                3100000|            7500000|         1800000|   Approved|139|  Male|19.0|      Chennai|   Student|              2.0|          0.0|7.83|               2.0|             0.0|        '7-8 hours'|     Unhealthy|'Class 12'|                                   No|             6.0|             3.0|                              No|         0|
|    145|               2|     Graduate|          Yes|8600000|   32100000|        6|        802|                 9400000|               16700000|           24500000|         9800000|   Approved|145|  Male|25.0|       Kalyan|   Student|              3.0|          0.0|9.93|               3.0|             0.0|        '5-6 hours'|      Moderate|      B.Ed|                                   No|             8.0|             3.0|                             Yes|         1|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+---+------+----+-------------+----------+-----------------+-------------+----+------------------+----------------+-------------------+--------------+----------+-------------------------------------+----------------+----------------+--------------------------------+----------+
only showing top 20 rows

# 8. Write Output to File or Table

In [ ]:
# Save to CSV
df.write.csv("/content/loan_output_csv_v1", header=True)

In [ ]:
# Save to Parquet
df.write.parquet("/content/loan_output_parquet_v1")

In [ ]:
# Save to Hive table (requires Hive support)
df.write.mode("overwrite").saveAsTable("loan_approval_table_v1")

#  9.SQL Queries Using Spark SQL
# Convert a DataFrame to a SQL temporary view:

In [ ]:
df.createOrReplaceTempView("people")

In [ ]:
df.show()

+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|loan_id|no_of_dependents|    education|self_employed| salary|loan_amount|loan_term|cibil_score|residential_assets_value|commercial_assets_value|luxury_assets_value|bank_asset_value|loan_status|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
|      1|               2|     Graduate|           No|9600000|   29900000|       12|        778|                 2400000|               17600000|           22700000|         8000000|   Approved|
|      2|               0| Not Graduate|          Yes|4100000|   12200000|        8|        417|                 2700000|                2200000|            8800000|         3300000|   Rejected|
|      3|               3|     Graduate|           No|9100000|   29700000|       20|        506|                 7100000|                4500000|           33300000|        12800000|   Rejected|
|      4|               3|     Graduate|           No|8200000|   30700000|        8|        467|                18200000|                3300000|           23300000|         7900000|   Rejected|
|      5|               5| Not Graduate|          Yes|9800000|   24200000|       20|        382|                12400000|                8200000|           29400000|         5000000|   Rejected|
|      6|               0|     Graduate|          Yes|4800000|   13500000|       10|        319|                 6800000|                8300000|           13700000|         5100000|   Rejected|
|      7|               5|     Graduate|           No|8700000|   33000000|        4|        678|                22500000|               14800000|           29200000|         4300000|   Approved|
|      8|               2|     Graduate|          Yes|5700000|   15000000|       20|        382|                13200000|                5700000|           11800000|         6000000|   Rejected|
|      9|               0|     Graduate|          Yes| 800000|    2200000|       20|        782|                 1300000|                 800000|            2800000|          600000|   Approved|
|     10|               5| Not Graduate|           No|1100000|    4300000|       10|        388|                 3200000|                1400000|            3300000|         1600000|   Rejected|
|     11|               4|     Graduate|          Yes|2900000|   11200000|        2|        547|                 8100000|                4700000|            9500000|         3100000|   Approved|
|     12|               2| Not Graduate|          Yes|6700000|   22700000|       18|        538|                15300000|                5800000|           20400000|         6400000|   Rejected|
|     13|               3| Not Graduate|          Yes|5000000|   11600000|       16|        311|                 6400000|                9600000|           14600000|         4300000|   Rejected|
|     14|               2|     Graduate|          Yes|9100000|   31500000|       14|        679|                10800000|               16600000|           20900000|         5000000|   Approved|
|     15|               1| Not Graduate|           No|1900000|    7400000|        6|        469|                 1900000|                1200000|            5900000|         1900000|   Rejected|
|     16|               5| Not Graduate|           No|4700000|   10700000|       10|        794|                 5700000|                3900000|           16400000|         4400000|   Approved|
|     17|               2|     Graduate|          Yes| 500000|    1600000|        4|        663|                 1300000|                 100000|            1300000|          700000|   Approved|
|     18|               4| Not Graduate|          Yes|2900000|    9400000|       14|        780|                 2900000|                2800000|            6700000|         4300000|   Approved|
|     19|               2|     Graduate|           No|2700000|   10300000|       10|        736|                 1000000|                      0|            6200000|         3300000|   Approved|
|     20|               5|     Graduate|           No|6300000|   14600000|       12|        652|                10300000|                3500000|           23500000|         5900000|   Approved|
+-------+----------------+-------------+-------------+-------+-----------+---------+-----------+------------------------+-----------------------+-------------------+----------------+-----------+
only showing top 20 rows

In [ ]:
#Run SQL queries:

result = spark.sql("SELECT salary FROM people WHERE salary > 100000")
result.show()

+-------+
| salary|
+-------+
|9600000|
|4100000|
|9100000|
|8200000|
|9800000|
|4800000|
|8700000|
|5700000|
| 800000|
|1100000|
|2900000|
|6700000|
|5000000|
|9100000|
|1900000|
|4700000|
| 500000|
|2900000|
|2700000|
|6300000|
+-------+
only showing top 20 rows

# 10. Working with RDDs (Low-level API)

# RDDs are the original Spark API (low-level). Not used as much anymore unless needed.

In [ ]:
rdd = spark.sparkContext.parallelize([1, 2, 3, 4])
squared = rdd.map(lambda x: x * x).collect()
print(squared)

#Use DataFrames instead when working with structured or semi-structured data — they are faster and easier to use.

[1, 4, 9, 16]